# font files to use
font_file: Verdana.ttf
font_file_bold: Verdana_Bold.ttf
font_file_italic: Verdana_Italic.ttf

# ticker symbol for stock checking
ticker_symbol: AAPL

# interval to update screen in seconds
sleep_interval_sec: 30

# rss feed to use
rss_link: https://krebsonsecurity.com/feed/

# openweathermap API key
owm_api_key: FILLMEIN
owm_city_latitude: 42.360081
owm_city_longitude: -71.058884

# pi-hole endpoint
pihole_host: FILLMEIN
